.loading-screen-container{
  position: fixed;
  top: 50%;
  bottom: 50%;
  height: 10vmin;
  width: 10vmin;
  border-radius: 100px;

  

  z-index: 9999;
  overflow: hidden !important;
  opacity: 1;
  animation: loadingScreenContainerKeyframes 500ms 1 linear forwards;
}
@keyframes loadingScreenContainerKeyframes {
  0%   {  }
  25%  { 
    height: 50vh; 
    width: 50vw;
  }
  50%  { 
    height: 100vh; 
    width: 100vw;
  }
  75%  { 
    height: 100vh; 
    width: 100vw;
    border-radius: 0px;  
  }
  100% {
    display: none; 
    height: 100vh; 
    width: 100vw;
    border-radius: 0px;  
  }
}

.loading-screen-icon{
  transition: 250ms;
  transform: rotate(0deg);
  animation: loadingScreenIconrKeyframes 500ms 1 linear forwards;
}
@keyframes loadingScreenIconrKeyframes {
  0%   { transform: rotate(15deg);  }
  25%  { transform: rotate(20deg);  }
  50%  { transform: rotate(-15deg); }
  75%  { transform: rotate(8deg);   }
  100% { transform: rotate(0deg);   }
}
