.ac-border{
  border-radius: 35px 35px 15px 15px;
  padding: 15px 45px;
  overflow: hidden;
  animation: loadingScreenContainerKeyframes 3000ms infinite;
}
@keyframes loadingScreenContainerKeyframes {
  0%   { border-radius: 35px 35px 15px 15px; }
  25%  { border-radius: 30px 32px 11px 15px; }
  50%  { border-radius: 32px 30px 17px 18px; }
  75%  { border-radius: 38px 28px 20px 18px; }
  100% { border-radius: 35px 35px 15px 15px; }
}