
.ac-nav-icon{
  color: $ac-gray;
}

.ac-app-icon{
  height: min-content;
  width: min-content;
  border-radius: 18px;
  background-color: $ac-seafoam-green;
  line-height: 0px;
  margin: auto;
  transition: 250ms;
  overflow: hidden;

  &:nth-child(even){
    &:hover{
      cursor: pointer;
      transform: rotate(12deg) scale(1.07);
    }
    &:active {
      transition: 80ms;
      transform: rotate(-8deg) scale(0.85) !important;
    }
  }
  &:nth-child(odd):hover{
    &:hover{
      cursor: pointer;
      transform: rotate(-12deg) scale(1.07);
    }
    &:active {
      transition: 80ms;
      transform: rotate(8deg) scale(0.85) !important;
    }
  }
  
  // &:nth-child(odd)
}


.ac-page-icon{
  height: 12px;
  width: 12px;
  background-color: $ac-gray;
  border-radius: 100%;
  transition: 150ms;
  
  &.hightlight{
    cursor: pointer;
    border-style: solid;
    border-color: $ac-light-teal;
    border-width: 3px !important;
  }
  &:hover {
    cursor: pointer;
    border-style: solid;
    border-color: $ac-light-teal-alt;
    border-width: 3px !important;
  }
}