// Default Colors
  $colorTransparent     : transparent;
  $colorWhite           : hsl(0, 0%, 100%)        !default;
  $colorWhite95         : hsla(0, 0%, 100%, 0.95) !default;
  $colorWhite90         : hsla(0, 0%, 100%, 0.9)  !default;
  $colorWhite80         : hsla(0, 0%, 100%, 0.8)  !default;
  $colorWhite70         : hsla(0, 0%, 100%, 0.7)  !default;
  $colorWhite60         : hsla(0, 0%, 100%, 0.6)  !default;
  $colorWhite50         : hsla(0, 0%, 100%, 0.5)  !default;
  $colorWhite40         : hsla(0, 0%, 100%, 0.4)  !default;
  $colorWhite30         : hsla(0, 0%, 100%, 0.3)  !default;
  $colorWhite20         : hsla(0, 0%, 100%, 0.2)  !default;
  $colorWhite15         : hsla(0, 0%, 100%, 0.15) !default;
  $colorWhite12         : hsla(0, 0%, 100%, 0.12) !default;
  $colorWhite10         : hsla(0, 0%, 100%, 0.1)  !default;
  $colorWhite08         : hsla(0, 0%, 100%, 0.08) !default;
  $colorWhite07         : hsla(0, 0%, 100%, 0.07) !default;
  $colorWhite05         : hsla(0, 0%, 100%, 0.05) !default;
  $colorWhite02         : hsla(0, 0%, 100%, 0.02) !default;
  $colorBlack           : hsl(0, 0%, 0%)          !default;
  $colorBlack95         : hsla(0, 0%, 0%, 0.95)   !default;
  $colorBlack90         : hsla(0, 0%, 0%, 0.9)    !default;
  $colorBlack80         : hsla(0, 0%, 0%, 0.8)    !default;
  $colorBlack70         : hsla(0, 0%, 0%, 0.7)    !default;
  $colorBlack60         : hsla(0, 0%, 0%, 0.6)    !default;
  $colorBlack50         : hsla(0, 0%, 0%, 0.5)    !default;
  $colorBlack40         : hsla(0, 0%, 0%, 0.4)    !default;
  $colorBlack30         : hsla(0, 0%, 0%, 0.3)    !default;
  $colorBlack20         : hsla(0, 0%, 0%, 0.2)    !default;
  $colorBlack15         : hsla(0, 0%, 0%, 0.15)   !default;
  $colorBlack12         : hsla(0, 0%, 0%, 0.12)   !default;
  $colorBlack10         : hsla(0, 0%, 0%, 0.1)    !default;
  $colorBlack07         : hsla(0, 0%, 0%, 0.07)   !default;
  $colorBlack05         : hsla(0, 0%, 0%, 0.05)   !default;
  $colorBlack03         : hsla(0, 0%, 0%, 0.03)   !default;
  $colorBlack02         : hsla(0, 0%, 0%, 0.02)   !default;
  $colorGray02          : hsl(0, 0%, 2%)          !default;
  $colorGray04          : hsl(0, 0%, 4%)          !default;
  $colorGray06          : hsl(0, 0%, 6%)          !default;
  $colorGray08          : hsl(0, 0%, 8%)          !default;
  $colorGray10          : hsl(0, 0%, 10%)         !default;
  $colorGray14          : hsl(0, 0%, 14%)         !default;
  $colorGray19          : hsl(0, 0%, 19%)         !default;
  $colorGray24          : hsl(0, 0%, 24%)         !default;
  $colorGray37          : hsl(0, 0%, 37%)         !default;
  $colorGray54          : hsl(0, 0%, 54%)         !default;
  $colorGray70          : hsl(0, 0%, 70%)         !default;
  $colorGray83          : hsl(0, 0%, 83%)         !default;
  $colorGray92          : hsl(0, 0%, 92%)         !default;
  $colorGray95          : hsl(0, 0%, 95%)         !default;
  $colorGray97          : hsl(0, 0%, 97%)         !default;
  $colorGray98          : hsl(0, 0%, 98%)         !default;
  $colorGray99          : hsl(0, 0%, 99%)         !default;
  $colorOceanLightest   : hsl(208, 100%, 90%)     !default;
  $colorOceanLighter    : hsl(212, 100%, 59%)     !default;
  $colorOceanLight      : hsl(214, 100%, 54%)     !default;
  $colorOcean           : hsl(216, 100%, 50%)     !default;
  $colorOceanDark       : hsl(218, 100%, 47%)     !default;
  $colorOceanDarker     : hsl(220, 100%, 43%)     !default;
  $colorOceanDarkest    : hsl(224, 100%, 18%)     !default;
  $colorBlueLightest    : hsl(196, 100%, 90%)     !default;
  $colorBlueLighter     : hsl(200, 100%, 59%)     !default;
  $colorBlueLight       : hsl(202, 100%, 54%)     !default;
  $colorBlue            : hsl(204, 100%, 50%)     !default;
  $colorBlueDark        : hsl(206, 100%, 47%)     !default;
  $colorBlueDarker      : hsl(208, 100%, 43%)     !default;
  $colorBlueDarkest     : hsl(212, 100%, 20%)     !default;
  $colorSkyLightest     : hsl(188, 100%, 89%)     !default;
  $colorSkyLighter      : hsl(192, 100%, 59%)     !default;
  $colorSkyLight        : hsl(194, 100%, 54%)     !default;
  $colorSky             : hsl(196, 100%, 50%)     !default;
  $colorSkyDark         : hsl(198, 100%, 47%)     !default;
  $colorSkyDarker       : hsl(200, 100%, 43%)     !default;
  $colorSkyDarkest      : hsl(204, 100%, 20%)     !default;
  $colorTealLightest    : hsl(172, 73%, 88%)      !default;
  $colorTealLighter     : hsl(176, 88%, 64%)      !default;
  $colorTealLight       : hsl(178, 80%, 56%)      !default;
  $colorTeal            : hsl(180, 73%, 50%)      !default;
  $colorTealDark        : hsl(182, 73%, 47%)      !default;
  $colorTealDarker      : hsl(184, 73%, 43%)      !default;
  $colorTealDarkest     : hsl(188, 73%, 18%)      !default;
  $colorGreenLightest   : hsl(166, 80%, 88%)      !default;
  $colorGreenLighter    : hsl(162, 76%, 58%)      !default;
  $colorGreenLight      : hsl(161, 92%, 45%)      !default;
  $colorGreen           : hsl(160, 100%, 40%)     !default;
  $colorGreenDark       : hsl(159, 100%, 37%)     !default;
  $colorGreenDarker     : hsl(158, 100%, 33%)     !default;
  $colorGreenDarkest    : hsl(152, 100%, 14%)     !default;
  $colorYellowLightest  : hsl(52, 100%, 88%)      !default;
  $colorYellowLighter   : hsl(48, 100%, 61%)      !default;
  $colorYellowLight     : hsl(46, 100%, 56%)      !default;
  $colorYellow          : hsl(44, 100%, 50%)      !default;
  $colorYellowDark      : hsl(42, 100%, 46%)      !default;
  $colorYellowDarker    : hsl(40, 100%, 42%)      !default;
  $colorYellowDarkest   : hsl(36, 100%, 20%)      !default;
  $colorOrangeLightest  : hsl(41, 100%, 90%)      !default;
  $colorOrangeLighter   : hsl(37, 100%, 61%)      !default;
  $colorOrangeLight     : hsl(35, 100%, 56%)      !default;
  $colorOrange          : hsl(33, 100%, 50%)      !default;
  $colorOrangeDark      : hsl(31, 100%, 46%)      !default;
  $colorOrangeDarker    : hsl(30, 100%, 42%)      !default;
  $colorOrangeDarkest   : hsl(26, 100%, 20%)      !default;
  $colorRedLightest     : hsl(337, 100%, 94%)     !default;
  $colorRedLighter      : hsl(341, 100%, 71%)     !default;
  $colorRedLight        : hsl(343, 100%, 66%)     !default;
  $colorRed             : hsl(345, 100%, 60%)     !default;
  $colorRedDark         : hsl(347, 82%, 54%)      !default;
  $colorRedDarker       : hsl(349, 72%, 46%)      !default;
  $colorRedDarkest      : hsl(353, 100%, 18%)     !default;
  $colorPinkLightest    : hsl(328, 100%, 94%)     !default;
  $colorPinkLighter     : hsl(332, 100%, 75%)     !default;
  $colorPinkLight       : hsl(334, 100%, 71%)     !default;
  $colorPink            : hsl(336, 100%, 67%)     !default;
  $colorPinkDark        : hsl(338, 80%, 60%)      !default;
  $colorPinkDarker      : hsl(338, 59%, 51%)      !default;
  $colorPinkDarkest     : hsl(346, 100%, 18%)     !default;
  $colorPurpleLightest  : hsl(265, 100%, 94%)     !default;
  $colorPurpleLighter   : hsl(260, 100%, 74%)     !default;
  $colorPurpleLight     : hsl(259, 100%, 71%)     !default;
  $colorPurple          : hsl(258, 100%, 67%)     !default;
  $colorPurpleDark      : hsl(257, 80%, 60%)      !default;
  $colorPurpleDarker    : hsl(256, 62%, 52%)      !default;
  $colorPurpleDarkest   : hsl(252, 69%, 20%)      !default;
// Default Colors

// Description Colors
  $colorSuccess         : hsl(134, 61%, 41%)      !default;
  $colorInfo            : hsl(190, 90%, 50%)      !default;
  $colorWarning         : hsl(27, 98%, 54%)       !default;
  $colorDanger          : hsl(354, 70%, 54%)      !default;
  $colorAlert           : hsl(51, 100%, 51%)      !default;
// Description Colors

// Text Colors
  $text-color-white     : $colorWhite               !default;
  $text-color-black     : $colorBlack               !default;
  $light-text-primary   : $colorBlack               !default;
  $light-text-secondary : hsl(194, 72%, 52%)      !default;
  $dark-text-primary    : $colorWhite               !default;
  $dark-text-secondary  : hsl(10, 72%, 50%)       !default;
// Text Colors

// Theme Colors
  $light-background     : hsl(0, 0%, 93%)         !default;
  $light-primary        : hsl(194, 100%, 33%)     !default;
  $light-secondary      : hsl(4, 82%, 67%)        !default;
  $light-tertiary       : hsl(183, 100%, 36%)     !default;
  $light-offset         : hsl(29, 97%, 86%)       !default;
  
  $dark-background      : hsl(218, 23%, 21%)      !default;
  $dark-primary         : hsl(214, 35%, 37%)      !default;
  $dark-secondary       : hsl(12, 83%, 62%)       !default;
  $dark-tertiary        : hsl(151, 24%, 60%)      !default;
  $dark-offset          : hsl(202, 46%, 72%)      !default;
// Theme Colors