// Default Colors
  $colorTransparent     : transparent;

  $colorBase-0          : hsl(0,0%,0%);
  $colorBase-1          : hsl(0,0%,1%);
  $colorBase-2          : hsl(0,0%,2%);
  $colorBase-3          : hsl(0,0%,3%);
  $colorBase-4          : hsl(0,0%,4%);
  $colorBase-5          : hsl(0,0%,5%);
  $colorBase-6          : hsl(0,0%,6%);
  $colorBase-7          : hsl(0,0%,7%);
  $colorBase-8          : hsl(0,0%,8%);
  $colorBase-9          : hsl(0,0%,9%);
  $colorBase-10         : hsl(0,0%,10%);
  $colorBase-11         : hsl(0,0%,11%);
  $colorBase-12         : hsl(0,0%,12%);
  $colorBase-13         : hsl(0,0%,13%);
  $colorBase-14         : hsl(0,0%,14%);
  $colorBase-15         : hsl(0,0%,15%);
  $colorBase-16         : hsl(0,0%,16%);
  $colorBase-17         : hsl(0,0%,17%);
  $colorBase-18         : hsl(0,0%,18%);
  $colorBase-19         : hsl(0,0%,19%);
  $colorBase-20         : hsl(0,0%,20%);
  $colorBase-21         : hsl(0,0%,21%);
  $colorBase-22         : hsl(0,0%,22%);
  $colorBase-23         : hsl(0,0%,23%);
  $colorBase-24         : hsl(0,0%,24%);
  $colorBase-25         : hsl(0,0%,25%);
  $colorBase-26         : hsl(0,0%,26%);
  $colorBase-27         : hsl(0,0%,27%);
  $colorBase-28         : hsl(0,0%,28%);
  $colorBase-29         : hsl(0,0%,29%);
  $colorBase-30         : hsl(0,0%,30%);
  $colorBase-31         : hsl(0,0%,31%);
  $colorBase-32         : hsl(0,0%,32%);
  $colorBase-33         : hsl(0,0%,33%);
  $colorBase-34         : hsl(0,0%,34%);
  $colorBase-35         : hsl(0,0%,35%);
  $colorBase-36         : hsl(0,0%,36%);
  $colorBase-37         : hsl(0,0%,37%);
  $colorBase-38         : hsl(0,0%,38%);
  $colorBase-39         : hsl(0,0%,39%);
  $colorBase-40         : hsl(0,0%,40%);
  $colorBase-41         : hsl(0,0%,41%);
  $colorBase-42         : hsl(0,0%,42%);
  $colorBase-43         : hsl(0,0%,43%);
  $colorBase-44         : hsl(0,0%,44%);
  $colorBase-45         : hsl(0,0%,45%);
  $colorBase-46         : hsl(0,0%,46%);
  $colorBase-47         : hsl(0,0%,47%);
  $colorBase-48         : hsl(0,0%,48%);
  $colorBase-49         : hsl(0,0%,49%);
  $colorBase-50         : hsl(0,0%,50%);
  $colorBase-51         : hsl(0,0%,51%);
  $colorBase-52         : hsl(0,0%,52%);
  $colorBase-53         : hsl(0,0%,53%);
  $colorBase-54         : hsl(0,0%,54%);
  $colorBase-55         : hsl(0,0%,55%);
  $colorBase-56         : hsl(0,0%,56%);
  $colorBase-57         : hsl(0,0%,57%);
  $colorBase-58         : hsl(0,0%,58%);
  $colorBase-59         : hsl(0,0%,59%);
  $colorBase-60         : hsl(0,0%,60%);
  $colorBase-61         : hsl(0,0%,61%);
  $colorBase-62         : hsl(0,0%,62%);
  $colorBase-63         : hsl(0,0%,63%);
  $colorBase-64         : hsl(0,0%,64%);
  $colorBase-65         : hsl(0,0%,65%);
  $colorBase-66         : hsl(0,0%,66%);
  $colorBase-67         : hsl(0,0%,67%);
  $colorBase-68         : hsl(0,0%,68%);
  $colorBase-69         : hsl(0,0%,69%);
  $colorBase-70         : hsl(0,0%,70%);
  $colorBase-71         : hsl(0,0%,71%);
  $colorBase-72         : hsl(0,0%,72%);
  $colorBase-73         : hsl(0,0%,73%);
  $colorBase-74         : hsl(0,0%,74%);
  $colorBase-75         : hsl(0,0%,75%);
  $colorBase-76         : hsl(0,0%,76%);
  $colorBase-77         : hsl(0,0%,77%);
  $colorBase-78         : hsl(0,0%,78%);
  $colorBase-79         : hsl(0,0%,79%);
  $colorBase-80         : hsl(0,0%,80%);
  $colorBase-81         : hsl(0,0%,81%);
  $colorBase-82         : hsl(0,0%,82%);
  $colorBase-83         : hsl(0,0%,83%);
  $colorBase-84         : hsl(0,0%,84%);
  $colorBase-85         : hsl(0,0%,85%);
  $colorBase-86         : hsl(0,0%,86%);
  $colorBase-87         : hsl(0,0%,87%);
  $colorBase-88         : hsl(0,0%,88%);
  $colorBase-89         : hsl(0,0%,89%);
  $colorBase-90         : hsl(0,0%,90%);
  $colorBase-91         : hsl(0,0%,91%);
  $colorBase-92         : hsl(0,0%,92%);
  $colorBase-93         : hsl(0,0%,93%);
  $colorBase-94         : hsl(0,0%,94%);
  $colorBase-95         : hsl(0,0%,95%);
  $colorBase-96         : hsl(0,0%,96%);
  $colorBase-97         : hsl(0,0%,97%);
  $colorBase-98         : hsl(0,0%,98%);
  $colorBase-99         : hsl(0,0%,99%);
  $colorBase-100        : hsl(0, 0%, 100%);

  $colorOceanLightest   : hsl(208, 100%, 90%)     !default;
  $colorOceanLighter    : hsl(212, 100%, 59%)     !default;
  $colorOceanLight      : hsl(214, 100%, 54%)     !default;
  $colorOcean           : hsl(216, 100%, 50%)     !default;
  $colorOceanDark       : hsl(218, 100%, 47%)     !default;
  $colorOceanDarker     : hsl(220, 100%, 43%)     !default;
  $colorOceanDarkest    : hsl(224, 100%, 18%)     !default;
  $colorBlueLightest    : hsl(196, 100%, 90%)     !default;
  $colorBlueLighter     : hsl(200, 100%, 59%)     !default;
  $colorBlueLight       : hsl(202, 100%, 54%)     !default;
  $colorBlue            : hsl(204, 100%, 50%)     !default;
  $colorBlueDark        : hsl(206, 100%, 47%)     !default;
  $colorBlueDarker      : hsl(208, 100%, 43%)     !default;
  $colorBlueDarkest     : hsl(212, 100%, 20%)     !default;
  $colorSkyLightest     : hsl(188, 100%, 89%)     !default;
  $colorSkyLighter      : hsl(192, 100%, 59%)     !default;
  $colorSkyLight        : hsl(194, 100%, 54%)     !default;
  $colorSky             : hsl(196, 100%, 50%)     !default;
  $colorSkyDark         : hsl(198, 100%, 47%)     !default;
  $colorSkyDarker       : hsl(200, 100%, 43%)     !default;
  $colorSkyDarkest      : hsl(204, 100%, 20%)     !default;
  $colorTealLightest    : hsl(172, 73%, 88%)      !default;
  $colorTealLighter     : hsl(176, 88%, 64%)      !default;
  $colorTealLight       : hsl(178, 80%, 56%)      !default;
  $colorTeal            : hsl(180, 73%, 50%)      !default;
  $colorTealDark        : hsl(182, 73%, 47%)      !default;
  $colorTealDarker      : hsl(184, 73%, 43%)      !default;
  $colorTealDarkest     : hsl(188, 73%, 18%)      !default;
  $colorGreenLightest   : hsl(166, 80%, 88%)      !default;
  $colorGreenLighter    : hsl(162, 76%, 58%)      !default;
  $colorGreenLight      : hsl(161, 92%, 45%)      !default;
  $colorGreen           : hsl(160, 100%, 40%)     !default;
  $colorGreenDark       : hsl(159, 100%, 37%)     !default;
  $colorGreenDarker     : hsl(158, 100%, 33%)     !default;
  $colorGreenDarkest    : hsl(152, 100%, 14%)     !default;
  $colorYellowLightest  : hsl(52, 100%, 88%)      !default;
  $colorYellowLighter   : hsl(48, 100%, 61%)      !default;
  $colorYellowLight     : hsl(46, 100%, 56%)      !default;
  $colorYellow          : hsl(44, 100%, 50%)      !default;
  $colorYellowDark      : hsl(42, 100%, 46%)      !default;
  $colorYellowDarker    : hsl(40, 100%, 42%)      !default;
  $colorYellowDarkest   : hsl(36, 100%, 20%)      !default;
  $colorOrangeLightest  : hsl(41, 100%, 90%)      !default;
  $colorOrangeLighter   : hsl(37, 100%, 61%)      !default;
  $colorOrangeLight     : hsl(35, 100%, 56%)      !default;
  $colorOrange          : hsl(33, 100%, 50%)      !default;
  $colorOrangeDark      : hsl(31, 100%, 46%)      !default;
  $colorOrangeDarker    : hsl(30, 100%, 42%)      !default;
  $colorOrangeDarkest   : hsl(26, 100%, 20%)      !default;
  $colorRedLightest     : hsl(337, 100%, 94%)     !default;
  $colorRedLighter      : hsl(341, 100%, 71%)     !default;
  $colorRedLight        : hsl(343, 100%, 66%)     !default;
  $colorRed             : hsl(345, 100%, 60%)     !default;
  $colorRedDark         : hsl(347, 82%, 54%)      !default;
  $colorRedDarker       : hsl(349, 72%, 46%)      !default;
  $colorRedDarkest      : hsl(353, 100%, 18%)     !default;
  $colorPinkLightest    : hsl(328, 100%, 94%)     !default;
  $colorPinkLighter     : hsl(332, 100%, 75%)     !default;
  $colorPinkLight       : hsl(334, 100%, 71%)     !default;
  $colorPink            : hsl(336, 100%, 67%)     !default;
  $colorPinkDark        : hsl(338, 80%, 60%)      !default;
  $colorPinkDarker      : hsl(338, 59%, 51%)      !default;
  $colorPinkDarkest     : hsl(346, 100%, 18%)     !default;
  $colorPurpleLightest  : hsl(265, 100%, 94%)     !default;
  $colorPurpleLighter   : hsl(260, 100%, 74%)     !default;
  $colorPurpleLight     : hsl(259, 100%, 71%)     !default;
  $colorPurple          : hsl(258, 100%, 67%)     !default;
  $colorPurpleDark      : hsl(257, 80%, 60%)      !default;
  $colorPurpleDarker    : hsl(256, 62%, 52%)      !default;
  $colorPurpleDarkest   : hsl(252, 69%, 20%)      !default;
// Default Colors

// Description Colors
  $colorSuccess         : hsl(134, 61%, 41%)      !default;
  $colorInfo            : hsl(190, 90%, 50%)      !default;
  $colorWarning         : hsl(27, 98%, 54%)       !default;
  $colorDanger          : hsl(354, 70%, 54%)      !default;
  $colorAlert           : hsl(51, 100%, 51%)      !default;
// Description Colors

// Text Colors
  $text-color-white     : $colorBase-100            !default;
  $text-color-black     : $colorBase-0              !default;
  $light-text-primary   : $colorBase-0              !default;
  $light-text-secondary : hsl(194, 72%, 52%)      !default;
  $dark-text-primary    : $colorBase-100            !default;
  $dark-text-secondary  : hsl(10, 72%, 50%)       !default;
// Text Colors

// Theme Colors
  $light-background     : hsl(0, 0%, 93%)         !default;
  $light-primary        : hsl(194, 100%, 33%)     !default;
  $light-secondary      : hsl(4, 82%, 67%)        !default;
  $light-tertiary       : hsl(183, 100%, 36%)     !default;
  $light-offset         : hsl(29, 97%, 86%)       !default;
  
  $dark-background      : hsl(218, 23%, 21%)      !default;
  $dark-primary         : hsl(214, 35%, 37%)      !default;
  $dark-secondary       : hsl(12, 83%, 62%)       !default;
  $dark-tertiary        : hsl(151, 24%, 60%)      !default;
  $dark-offset          : hsl(202, 46%, 72%)      !default;
// Theme Colors
