@mixin light-theme() { 
  @media (prefers-color-scheme: light) { @content; } 
}
@mixin dark-theme()  { 
  @media (prefers-color-scheme: dark) { @content; } 
}

@mixin light-style($background-color:$light-secondary, $color:$light-font-primary){
  background-color: $background-color;
  color: $color;
  @content;
}
@mixin dark-style($background-color:$dark-secondary, $color:$dark-font-primary){
  background-color: $background-color;
  color: $color;
  @content;
}

@mixin effects($background-color:transparent, $color:$light-font-primary, $border:1px solid $light-secondary, $cursor:pointer){
  background-color: $background-color;
  color: $color;
  border: $border;
  cursor: $cursor;
}