/*
  Houses Global Disabled Classes
*/

// Mixins
  @mixin disabled(
    $opacity        :0.50,
    $cursor         :default,
    $pointerEvents  :none
  ){
    opacity         : $opacity !important;
    cursor          : $cursor !important;
    pointer-events  : $pointerEvents !important;
  }
// Mixins

// Classes
  .disabled{
    @include disabled();
  }
// Classes