// Slide In Top
  @keyframes slide-in-top {
    0% {
      transform: translateY(-250%);
      opacity: 0;
      z-index: 2;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      z-index: 2;
    }
  }
  
  // Intro Message
    .slide-in-top-title-text:nth-child(1) { animation: slide-in-top 950ms cubic-bezier(0.190, 1.000, 0.220, 1.000) both; animation-delay: 0s; }
    .slide-in-top-title-text:nth-child(2) { animation: slide-in-top 950ms cubic-bezier(0.190, 1.000, 0.220, 1.000) both; animation-delay: 1.35s; }
    .slide-in-top-title-text:nth-child(3) { animation: slide-in-top 950ms cubic-bezier(0.190, 1.000, 0.220, 1.000) both; animation-delay: 2.7s; }
    .slide-in-top-title-text:nth-child(4) { animation: slide-in-top 950ms cubic-bezier(0.190, 1.000, 0.220, 1.000) both; animation-delay: 4.05s; }
    .slide-in-top-title-text:nth-child(5) { animation: slide-in-top 950ms cubic-bezier(0.190, 1.000, 0.220, 1.000) both; animation-delay: 5.40s; }
  // Intro Message
  
  // Project Showcase (Stack Ribbon)
    .slide-in-top-stack-ribbon { 
      visibility: visible !important;
      animation: slide-in-top-stack-ribbon 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) both; animation-delay: 300ms; 
    }
    @keyframes slide-in-top-stack-ribbon {
      0% {
        padding: 0.35rem 2.5rem;
        padding-top: 0.5rem;
        transform: translateY(-250%);
        opacity: 0;
        z-index: 2;
      }
      100% {
        width: min-content;
        padding: 0.35rem 2.5rem;
        padding-top: 0.5rem;
        transform: translateY(0);
        opacity: 1;
        z-index: 2;
      }
    }
  // Project Showcase (Stack Ribbon)
// Slide In Top

// Slide In Right 
  @keyframes slide-in-right-showcase {
    0% {
      transform: translateX(150%);
      opacity: 0.55;
      z-index: 2;
    }
    100% {
      width: unset;
      transform: translateX(-100%);
      opacity: 1;
      z-index: 2;
    }
  }

  // Intro Message
    .slide-in-right-showcase { 
      visibility: visible !important;
      animation: slide-in-right-showcase 850ms cubic-bezier(0.190, 1.000, 0.220, 1.000) both; animation-delay: 650ms;
    }
  // Intro Message
  
// Slide In Right

// Slide To Top
  @keyframes slide-to-top {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-300%);
    }
  }
  
  .slide-to-top { animation: slide-to-top 550ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both; animation-delay: 0s; }
  
  .slide-to-top-title-container{ top: 0px !important; }
// Slide To Top

// Fade In Center
  @keyframes fade-in-center {
    0% {
      transform: scale(0.75);
      opacity: 0.55;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .fade-in-center {
    visibility: visible !important;
    animation: fade-in-center 800ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 0s;
  }
// Fade In Center

// Fade Out
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .fade-out {
    visibility: visible !important;
    animation: fade-out 800ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 0s;
  }
// Fade Out Center

// Text Gradient
  @keyframes text-gradient {
    to {
      background-position: 100% center;
    }
  }
// Text Gradient