// WOULD LOVE TO USE, BUT SCSS HAS VARIABLE ISSUES (Issue found when using variable at beginning of name)
// $fs-container-tags: (
//   // Description
//   'grid' : 'grid',
//   'flex' : 'flex',
// );

@mixin container(
  $height : min-content,
  $width  : min-content,
  $margin : auto,
  ){
  @include grid-pos(1);
  height  : $height;
  width   : $width;
  margin  : $margin;
}

@mixin auto-grid-tag-class-generator($key, $value){
  // @each $keyContainer, $valueContainer in $fs-container-tags{
    // Grid
      grid-#{$key} {
        @include grid-container();
        @include container();

        @if(varIs($value, 'map') and ( map-has-key($value, 'light') and map-has-key($value, 'dark') )){ 
          $valueLight : map-get($value, 'light');
          $valueDark  : map-get($value, 'dark');

          @include light-theme{ background-color: $valueLight; }
          @include dark-theme { background-color: $valueDark;  }
        }
        @else{
          background-color: $value;
        }
      }
      grid-container-#{$key} {
        @include grid-container();
        @include container(100vh, 100vw);
        
        @if(varIs($value, 'map') and ( map-has-key($value, 'light') and map-has-key($value, 'dark') )){ 
          $valueLight : map-get($value, 'light');
          $valueDark  : map-get($value, 'dark');

          @include light-theme{ background-color: $valueLight; }
          @include dark-theme { background-color: $valueDark;  }
        }
        @else{
          background-color: $value;
        }
      }
    // Grid
      
    // Flex
      flex-#{$key} {
        @include flex-container();
        @include container();

        @if(varIs($value, 'map') and ( map-has-key($value, 'light') and map-has-key($value, 'dark') )){ 
          $valueLight : map-get($value, 'light');
          $valueDark  : map-get($value, 'dark');

          @include light-theme{ background-color: $valueLight; }
          @include dark-theme { background-color: $valueDark;  }
        }
        @else{
          background-color: $value;
        }
      }
      flex-container-#{$key} {
        @include flex-container();
        @include container(100vh, 100vw);
        
        @if(varIs($value, 'map') and ( map-has-key($value, 'light') and map-has-key($value, 'dark') )){ 
          $valueLight : map-get($value, 'light');
          $valueDark  : map-get($value, 'dark');

          @include light-theme{ background-color: $valueLight; }
          @include dark-theme { background-color: $valueDark;  }
        }
        @else{
          background-color: $value;
        }
      }
    // Flex
  // }
}

// Default Tags
  grid {
    @include grid-container();
    @include container();
  }
  grid-container {
    @include grid-container();
    @include container(100vh, 100vw);
  }
  flex {
    @include flex-container();
    @include container();
  }
  flex-container {
    @include flex-container();
    @include container(100vh, 100vw);
  }
// Default Tags

@each $key, $value in $auto-class-generator-merge{ @include auto-grid-tag-class-generator($key, $value); }