
// Function Validating Given Variable Type
@function varIs($var, $is){ 
  /* Notes
    Accepts:
      - $var = Given Variable
      - $is  = Type to Test Against

    Returns:
      - Bool

    Possible Types:
      number
      string
      color
      bool
      null
      list
      map
      function
      arglist
  */

  @return type-of($var) == $is; 
}

// Function Stating Type of Passed Variable
@function getVarType($var){
  /* Notes
    Accepts:
      - $var = Given Variable

    Returns:
      - String Type

    Possible Types:
      number
      string
      color
      bool
      null
      list
      map
      function
      arglist
  */

  @return type-of($var);
}