
// Function Validating Given Variable Type
@function varIs($var, $is){ 
  /* Notes
    @Accepts:
      - $var = Given Variable
      - $is  = (number,
                string,
                color,
                bool,
                null,
                list,
                map,
                function,
                arglist)

    @Returns:
      - Bool

  */

  @return type-of($var) == $is; 
}

// Function Stating Type of Passed Variable
@function getVarType($var){
  /* Notes
    Accepts:
      - $var = Given Variable

    Returns:
      - String Type

    Possible Types:
      number
      string
      color
      bool
      null
      list
      map
      function
      arglist
  */

  @return type-of($var);
}

// Function To Replace Given Key Within Passed Value
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}