.fs-modal-backdrop{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #85858524;
  z-index: 9999999999999999;
}
.fs-modal{
  @include position(fixed, 38%, unset, unset, 50%, translateX(50%));
}