// Mixins
  @mixin position($position:fixed, $top:unset, $bottom:unset, $left:unset, $right:unset, $transform:unset){
    position  : $position;
    top       : $top;
    bottom    : $bottom;
    left      : $left;
    right     : $right;
    transform : $transform;
  }
// Mixins

// Classes
  // INFO                                                    Pos,   Top,                 Bottom,              Left,                Right,              Transform

  // Fixed
    .position-fixed-top-left             { @include position(fixed, calc(10px + 1.5vh),  unset,               unset,               calc(100% - 1.5vw), translateX(100%));  }
    .position-fixed-top-middle           { @include position(fixed, calc(10px + 1.5vh),  unset,               50%,                 unset,              translateX(-50%));  }
    .position-fixed-top-right            { @include position(fixed, calc(10px + 1.5vh),  unset,               calc(100% - 1.5vw),  unset,              translateX(-100%)); }
    .position-fixed-center-left          { @include position(fixed, 48%,                 unset,               unset,               calc(100% - 1.5vw), translateX(100%));  }
    .position-fixed-center-middle        { @include position(fixed, 48%,                 unset,               50%,                 unset,              translateX(-50%));  }
    .position-fixed-center-right         { @include position(fixed, 48%,                 unset,               calc(100% - 1.5vw),  unset,              translateX(-100%));  }
    .position-fixed-bottom-left          { @include position(fixed, unset,               calc(10px + 1.5vh),  unset,               calc(100% - 1.5vw), translateX(100%));  }
    .position-fixed-bottom-middle        { @include position(fixed, unset,               calc(10px + 1.5vh),  50%,                 unset,              translateX(-50%));  }
    .position-fixed-bottom-right         { @include position(fixed, unset,               calc(10px + 1.5vh),  calc(100% - 1.5vw),  unset,              translateX(-100%)); }
  // Fixed

  // // Relative (build)
    // .position-relative-top-left          { @include position(fixed, calc(10px + 1.5vh),  unset,               unset,               calc(50% - 1.5vw),  translateX(50%));  }
    // .position-relative-top-middle        { @include position(fixed, calc(10px + 1.5vh),  unset,               50%,                 unset,              translateX(-50%));  }
    // .position-relative-top-right         { @include position(fixed, calc(10px + 1.5vh),  unset,               calc(100% - 1.5vw),  unset,              translateX(-100%)); }
    // .position-relative-center-left       { @include position(fixed, 50%,                 unset,               50%,                 unset,              translateX(-50%));  }
    // .position-relative-center-middle     { @include position(fixed, 50%,                 unset,               50%,                 unset,              translateX(-50%));  }
    // .position-relative-center-right      { @include position(fixed, 50%,                 unset,               50%,                 unset,              translateX(-50%));  }
    // .position-relative-bottom-left       { @include position(fixed, unset,               calc(10px + 1.5vh),  unset,               calc(100% - 1.5vw), translateX(100%));  }
    // .position-relative-bottom-middle     { @include position(fixed, unset,               calc(10px + 1.5vh),  50%,                 unset,              translateX(-50%));  }
    // .position-relative-bottom-right      { @include position(fixed, unset,               calc(10px + 1.5vh),  calc(100% - 1.5vw),  unset,              translateX(-100%)); }
  // // Relative
    
  // // Sticky (build)
    // .position-sticky-top-left-fixed      { @include position(fixed, calc(10px + 1.5vh),  unset,               unset,               calc(100% - 1.5vw), translateX(100%));  }
    // .position-sticky-top-middle-fixed    { @include position(fixed, calc(10px + 1.5vh),  unset,               50%,                 unset,              translateX(-50%));  }
    // .position-sticky-top-right-fixed     { @include position(fixed, calc(10px + 1.5vh),  unset,               calc(100% - 1.5vw),  unset,              translateX(-100%)); }
    // .position-sticky-center-left-fixed   { @include position(fixed, 50%,                 unset,               50%,                 unset,              translateX(-50%));  }
    // .position-sticky-center-middle-fixed { @include position(fixed, 50%,                 unset,               50%,                 unset,              translateX(-50%));  }
    // .position-sticky-center-right-fixed  { @include position(fixed, 50%,                 unset,               50%,                 unset,              translateX(-50%));  }
    // .position-sticky-bottom-left-fixed   { @include position(fixed, unset,               calc(10px + 1.5vh),  unset,               calc(100% - 1.5vw), translateX(100%));  }
    // .position-sticky-bottom-middle-fixed { @include position(fixed, unset,               calc(10px + 1.5vh),  50%,                 unset,              translateX(-50%));  }
    // .position-sticky-bottom-right-fixed  { @include position(fixed, unset,               calc(10px + 1.5vh),  calc(100% - 1.5vw),  unset,              translateX(-100%)); }
  // // Sticky

// Classes