// Mixins
  @mixin position($position:fixed, $top:unset, $bottom:unset, $left:unset, $right:unset, $transform:unset){
    position  : $position;
    top       : $top;
    bottom    : $bottom;
    left      : $left;
    right     : $right;
    transform : $transform;
  }
// Mixins

// Classes
  // INFO                                                    Pos,   Top,                 Bottom,              Left,                Right,              Transform

  // Fixed
    .position-fixed-top-left             { @include position(fixed, calc(10px + 1.5vh),  unset,               unset,               calc(100% - 1.5vw), translateX(100%));  }
    .position-fixed-top-middle           { @include position(fixed, calc(10px + 1.5vh),  unset,               50%,                 unset,              translateX(-50%));  }
    .position-fixed-top-right            { @include position(fixed, calc(10px + 1.5vh),  unset,               calc(100% - 1.5vw),  unset,              translateX(-100%)); }
    .position-fixed-center-left          { @include position(fixed, 48%,                 unset,               unset,               calc(100% - 1.5vw), translateX(100%));  }
    .position-fixed-center-middle        { @include position(fixed, 48%,                 unset,               50%,                 unset,              translateX(-50%));  }
    .position-fixed-center-right         { @include position(fixed, 48%,                 unset,               calc(100% - 1.5vw),  unset,              translateX(-100%));  }
    .position-fixed-bottom-left          { @include position(fixed, unset,               calc(10px + 1.5vh),  unset,               calc(100% - 1.5vw), translateX(100%));  }
    .position-fixed-bottom-middle        { @include position(fixed, unset,               calc(10px + 1.5vh),  50%,                 unset,              translateX(-50%));  }
    .position-fixed-bottom-right         { @include position(fixed, unset,               calc(10px + 1.5vh),  calc(100% - 1.5vw),  unset,              translateX(-100%)); }
  // Fixed

  // Relative (build)
    .position-sticky-top-left             { @include position(sticky, calc(10px + 1.5vh),  unset,               unset,               calc(100% - 1.5vw), translateX(100%));  }
    .position-sticky-top-middle           { @include position(sticky, calc(10px + 1.5vh),  unset,               50%,                 unset,              translateX(-50%));  }
    .position-sticky-top-right            { @include position(sticky, calc(10px + 1.5vh),  unset,               calc(100% - 1.5vw),  unset,              translateX(-100%)); }
    .position-sticky-center-left          { @include position(sticky, 48%,                 unset,               unset,               calc(100% - 1.5vw), translateX(100%));  }
    .position-sticky-center-middle        { @include position(sticky, 48%,                 unset,               50%,                 unset,              translateX(-50%));  }
    .position-sticky-center-right         { @include position(sticky, 48%,                 unset,               calc(100% - 1.5vw),  unset,              translateX(-100%));  }
    .position-sticky-bottom-left          { @include position(sticky, unset,               calc(10px + 1.5vh),  unset,               calc(100% - 1.5vw), translateX(100%));  grid-row: -1; align-self: end;}
    .position-sticky-bottom-middle-grid   { @include position(sticky, unset,               calc(10px + 1.5vh),  unset,               calc(50%),          translateX(50%));   grid-row: -1; align-self: end;}
    .position-sticky-bottom-middle-flex   { @include position(sticky, unset,               calc(10px + 1.5vh),  50%,                 unset,              translateX(-50%));  grid-row: -1; align-self: end;}
    .position-sticky-bottom-right         { @include position(sticky, unset,               calc(10px + 1.5vh),  calc(100% - 1.5vw),  unset,              translateX(-100%)); grid-row: -1; align-self: end;}
  // Relative
    
  // Sticky (build)
  // Sticky

// Classes
