*[contenteditable="true"]{ 
  @include light-theme(){ 
    &:hover{ outline: 1px dotted  $light-secondary; }
    &:focus,&:active{ outline: 2px dotted  $light-font-primary; } 
  }

  @include dark-theme(){ 
    &:hover{ outline: 1px dotted  $dark-secondary; }
    &:focus,&:active{ outline: 2px dotted  $dark-font-primary; } 
  }
}

body[contenteditable="true"]{ 
  @include light-theme(){ 
    &:hover,&:focus,&:active{ border: 2px dotted  $light-font-primary; } 
  }

  @include dark-theme(){ 
    &:hover,&:focus,&:active{ border: 2px dotted  $dark-font-primary; } 
  }
}

#fs-spellcheck-container{
  position: fixed; 
  top: 30px; 
  left: 10px;
  z-index: 99999;
  height: min-content;
}

.fs-selection-btn{ margin-left: 0; }

// #fs-spellcheck-individual-btn{ 
// }

// #fs-spellcheck-collective-btn{ 
// }
