// Mixins
  @mixin text($padding:0px, $margin:0px){ 
    padding: $padding; 
    margin: $margin; 
  }
  @mixin text-no-wrap(){
    width: min-content;
    white-space: nowrap;
  }

  // Titles
    // Headers
    @mixin title-header-xl($min:3.025rem, $pg-width:8.273vw, $max:8.020rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin title-header-lg($min:2.900rem, $pg-width:8.020vw, $max:7.640rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin title-header-md($min:2.775rem, $pg-width:7.768vw, $max:7.260rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin title-header-sm($min:2.650rem, $pg-width:7.515vw, $max:6.880rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin title-header-xs($min:2.525rem, $pg-width:7.263vw, $max:6.500rem){ font-size: clamp($min, $pg-width, $max); }

    // Sub Headers
    @mixin title-sub-xl($min:2.400rem, $pg-width:7.010vw, $max:6.120rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin title-sub-lg($min:2.275rem, $pg-width:6.758vw, $max:5.740rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin title-sub-md($min:2.150rem, $pg-width:6.505vw, $max:5.360rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin title-sub-sm($min:2.025rem, $pg-width:6.253vw, $max:4.980rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin title-sub-xs($min:1.900rem, $pg-width:6.000vw, $max:4.600rem){ font-size: clamp($min, $pg-width, $max); }

  // Titles

  // Descriptions
    // Headers
    @mixin desc-header-xl($min:1.775rem, $pg-width:5.748vw, $max:4.220rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin desc-header-lg($min:1.650rem, $pg-width:5.495vw, $max:3.840rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin desc-header-md($min:1.525rem, $pg-width:5.243vw, $max:3.460rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin desc-header-sm($min:1.400rem, $pg-width:4.990vw, $max:3.080rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin desc-header-xs($min:1.275rem, $pg-width:4.738vw, $max:2.700rem){ font-size: clamp($min, $pg-width, $max); }

    // Sub Headers
    @mixin desc-sub-xl($min:1.150rem, $pg-width:4.485vw, $max:2.320rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin desc-sub-lg($min:1.025rem, $pg-width:4.233vw, $max:1.940rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin desc-sub-md($min:0.900rem, $pg-width:3.980vw, $max:1.560rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin desc-sub-sm($min:0.775rem, $pg-width:3.728vw, $max:1.180rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin desc-sub-xs($min:0.650rem, $pg-width:3.475vw, $max:0.800rem){ font-size: clamp($min, $pg-width, $max); }
  // Descriptions
  
  // Default Tag Sizes
    @mixin h1($min:1.6250rem, $pg-width:2.5625vw, $max:2.00rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin h2($min:1.2188rem, $pg-width:2.1094vw, $max:1.50rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin h3($min:0.9506rem, $pg-width:1.8103vw, $max:1.17rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin h4($min:0.8125rem, $pg-width:1.6563vw, $max:1.00rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin h5($min:0.6744rem, $pg-width:1.5022vw, $max:0.83rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin h6($min:0.5444rem, $pg-width:1.3572vw, $max:0.67rem){ font-size: clamp($min, $pg-width, $max); }
    @mixin p ($min:0.8125rem, $pg-width:1.6563vw, $max:1.00rem){ font-size: clamp($min, $pg-width, $max); }
  // Default Tag Sizes
// Mixins

// Classes
  .text-no-wrap{ @include text-no-wrap(); }
  // Titles
    // Headers
    .title-header-xl{ @include title-header-xl(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    .title-header-lg{ @include title-header-lg(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    .title-header-md{ @include title-header-md(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    .title-header-sm{ @include title-header-sm(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    .title-header-xs{ @include title-header-xs(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }

    // Sub Headers
    .title-sub-xl{ @include title-sub-xl(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    .title-sub-lg{ @include title-sub-lg(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    .title-sub-md{ @include title-sub-md(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    .title-sub-sm{ @include title-sub-sm(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    .title-sub-xs{ @include title-sub-xs(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
  // Titles

  // Descriptions
    // Headers
    .desc-header-xl{ @include desc-header-xl(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    .desc-header-lg{ @include desc-header-lg(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    .desc-header-md{ @include desc-header-md(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    .desc-header-sm{ @include desc-header-sm(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    .desc-header-xs{ @include desc-header-xs(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    
    // Sub Headers
    .desc-sub-xl{ @include desc-sub-xl(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    .desc-sub-lg{ @include desc-sub-lg(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    .desc-sub-md{ @include desc-sub-md(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    .desc-sub-sm{ @include desc-sub-sm(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
    .desc-sub-xs{ @include desc-sub-xs(); @include text-no-wrap(); @include text(); text-align: center; margin: auto; }
  // Descriptions
// Classes

// Tags
  // Default Tag Sizes (Responsive)
  h1{ @include h1(); }
  h2{ @include h2(); }
  h3{ @include h3(); }
  h4{ @include h4(); }
  h5{ @include h5(); }
  h6{ @include h6(); }
  p { @include p (); }
// Tags