$fs-suffix-direction-up    : 'up','raise';
$fs-suffix-direction-down  : 'down','lower';
$fs-suffix-direction-left  : 'left','lt';
$fs-suffix-direction-right : 'right','rt';

$fs-suffix-important : 'important','impt';

$fs-suffix-class-sizes-names    : 'xl','lg','md','sm','xs';
$fs-suffix-class-sizes-numeric  : 10,'lg','md','sm','xs';