// Out-of-the-"install" Variables (Set defaults if not set. Ensures package works on install without proper setup)


// Default Color Palette
  // Light Theme
  $light-primary:       hsl(0, 0%, 100%)   !default;
  $light-secondary:     hsl(39, 90%, 55%)  !default;
  $light-tertiary:      hsl(162, 90%, 46%) !default;
  $light-font-primary:  hsl(0, 0%, 11%)    !default;
  $light-font-secondary:hsl(194, 72%, 52%) !default;

  // Dark Theme
  $dark-primary:        hsl(215, 26%, 24%) !default;
  $dark-secondary:      hsl(206, 59%, 44%) !default;
  $dark-tertiary:       hsl(206, 70%, 12%) !default;
  $dark-font-primary:   hsl(0, 0%, 100%)   !default;
  $dark-font-secondary: hsl(10, 72%, 50%)  !default;
  
  $auto-class-generator:(
    // Normal
      'primary':(
        'light' : $light-secondary,
        'dark'  : $dark-secondary
      ),
      'secondary':(
        'light' : $light-tertiary,
        'dark'  : $dark-tertiary
      ),
    // Normal
  );
// Default Color Palette

// Default Auto Class Generator (Color Map)
  $auto-class-generator-merge: null !default;

  // Ensure $auto-class-generator Exists
  @if( 
    (variable-exists(auto-class-generator)) and 
    (varIs($auto-class-generator, 'map'))
    ){
    $auto-class-generator-merge : map.merge($fs-auto-class-generator, $auto-class-generator);
  } 
  @else {
    $auto-class-generator-merge : $fs-auto-class-generator;
  }
// Default Auto Class Generator
